<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project</title>
</head>
<body>
  <a href="/projects/{{slug}}">
    <img src="{{{img}}}" width="300px" height="300px" />
  </a>
  <h3>{{name}}</h3>
  <p>{{description}}</p>
  <p>{{client}}</p>
</body>
</html>