<html>
<head>
  <title>Profiles App</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>This is the Homepage</h1>
  <img src="images/node-express.png" />
  <a href="/myuser">Profile</a>
</body>
</html>